* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background-color: white;
}

.link-name {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.link-name:hover {
  cursor: pointer;
  color: rgb(227, 227, 227);
}

.logo-style{
  font-family: 'Blaka', cursive;
  font-size: x-large;
  font-weight: 100;
}
/* Extra Background Colors */

